version: '3.9'

services:
  frontend:
    build: ./LesCracks-frontend
    restart: unless-stopped
    ports:
      - "3000:80"  # Nginx sur le serveur pointera vers 127.0.0.1:3000
    depends_on:
      - backend
    networks:
      - app-net

  backend:
    build: ./LesCracks-backend
    restart: unless-stopped
    env_file:
      - ./LesCracks-backend/.env
    volumes:
      - uploads:/app/uploads
    ports:
      - "5000:5000"
    networks:
      - app-net

  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: lescracks_db
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-net

volumes:
  uploads:
  mysql-data:

networks:
  app-net:
    driver: bridge
