
services:
  frontend:
    build: ./LesCracks-frontend
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/letsencrypt
      - ./LesCracks-frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-net


  backend:
    build: ./LesCracks-backend
    restart: unless-stopped
    env_file:
      - ./LesCracks-backend/.env
    volumes:
      - uploads:/app/uploads
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "5000:5000"
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:5000/api/health"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - app-net


  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: lescracks_db
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${DB_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - app-net

  certbot:
    image: certbot/certbot
    container_name: certbot
    restart: unless-stopped
    volumes:
      - ./certs:/etc/letsencrypt
      - ./webroot:/var/www/certbot
    entrypoint: >
      sh -c "trap exit TERM; while :; do sleep 12h & wait $${!}; certbot renew --webroot -w /var/www/certbot; done"
    networks:
      - app-net

volumes:
  uploads:
  mysql-data:

networks:
  app-net:
    driver: bridge
